extends ../../includes/layout
block main-content
        .col-lg-3(style="width: 250px;")
            h3(style="width: 250px;")
                i.glyphicon.glyphicon-briefcase
                |  Администрация
            hr
            ul.nav.nav-stacked
                li
                    a(href='/admin/articles/add')
                        i.glyphicon.glyphicon-pencil
                        |  Нова статия
                li
                    a(href="/admin/users")
                        i.glyphicon.glyphicon-th-list
                        |  Потребители
                li
                    a(href="/admin/articles")
                        i.glyphicon.glyphicon-book
                        |  Статии
