extends ../../includes/layout
block main-content
    .col-lg-10.text-right.col-lg-offset-1
        h3.text-left
            = sectionHeader
        hr
        table.col-lg-12
            thead.text-left
                tr
                    td.thead(style="height: 40px; border-bottom: 15px solid black", colspan="5")
        each item in comments
            #currentComment.col-md-12
                .comment-tabs
                    .tab-content
                        #comments-logout.tab-pane.active
                            ul.media-list
                                li.media
                                    a.pull-left(href='/')
                                        img.media-object.img-circle(src="/common/img/default-avatar.jpg", alt='profile')
                                    .media-body
                                        .well.well-lg
                                            h4.media-heading.text-uppercase.reviews.text-left
                                                = item.createdBy.username
                                            ul.media-date.text-uppercase.reviews.list-inline
                                                li
                                                    = item.createdOn
                                            p.media-comment.text-left
                                                = item.content
        .row
            .col-lg-offset-1.col-lg-10
                if paginate.hasPreviousPages || paginate.hasNextPages(10)
                    .navigation.well-sm#pagination.col-lg-12
                        ul.pager
                            if paginate.hasPreviousPages
                                li.previous
                                    a(href=paginate.href(true)).prev
                                        |  Назад
                            if pages
                                each page in pages
                                    a.pageButtons.btn.btn-primary(href=page.url)= page.number
                            if paginate.hasNextPages(10)
                                li.next
                                    a(href=paginate.href()).next
                                        | Напред

    .col-md-12.col-lg-offset-1
        form#commentForm.form-horizontal(action='/forum/topic/#{sectionHeader}', method='POST', role='form')
            .form-group
                .col-sm-10
                    textarea#addComment.form-control(name='content', rows='5')
            .form-group
                .col-sm-10.text-right
                    button#submitComment.btn.btn-success(type='submit')
                        span
                            .glyphicon.glyphicon-send
                         |  Summit comment
