extends includes/layout
block main-content
    header.nav.navbar-default.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="#/") StrongFit Forum
            button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="#/") Home

    div(class="categories")
        ul
            each category in categories
                li
                    include ./includes/forum/category-panel.jade
                        
    div(ng-view class="slide-down")
    footer.nav.navbar-fixed-bottom
        hr
        p.text-center
            a(href="https://github.com/End-to-End-JS-Teamwork/Strong-Fit") &copy; StrongFit
