.container
    .jumbotron
        h1 Must implement home page here

        button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar

        .row
            panel
                | Start forum