html
    body
        .container.center-block(ng-cloak='')
            br
            .row
                .col-xs-12.col-sm-12.col-md-6.col-md-offset-3
                    #login-user-container.panel.panel-primary(ng-controller='SignInController')
                        .panel-heading
                            h3.panel-title Log in
                        .panel-body
                            .row
                                .col-xs-12.col-sm-12.col-md-12.login-box
                                    form(role='form', name='signInForm')
                                        .input-group
                                            span.input-group-addon
                                                span.glyphicon.glyphicon-user
                                            input.form-control(type='text', placeholder='Username', required='', autofocus='', ng-model='username')
                                        .input-group
                                            span.input-group-addon
                                                span.glyphicon.glyphicon-lock
                                            input.form-control(type='password', placeholder='Password', required='', ng-model='password')
                        .panel-footer
                            .row
                                //fb:login-button.col-xs-2.col-sm-2.col-md-2.fb-login-button(data-max-rows='5', data-size='small', data-show-faces='true', data-auto-logout-link='true')
                                //a#facebook-container.col-xs-7.col-sm-7.col-md-7.btn.btn-xs.btn-social.btn-facebook
                                //    span.fa.fa-facebook-square
                                    |                             Click to refresh after login
                                .col-xs-3.col-sm-3.col-md-3
                                    button.btn.btn-labeled.btn-success(type='button', ng-disabled='signInForm.$pristine || signInForm.$invalid', ng-click='signIn(username, password)')
                                        span.btn-label
                                            i.glyphicon.glyphicon-ok
                                        | Sign In
        //#fb-root
        //script.
        //    // This is called with the results from from FB.getLoginStatus().
        //    function statusChangeCallback(response) {
        //        console.log('statusChangeCallback');
        //        console.log(response);
        //        if (response.status === 'connected') {
        //            setUserData();
        //        } else if (response.status === 'not_authorized') {
        //            document.getElementById('status').innerHTML = 'Please log ' + 'into this app.';
        //        } else {
        //            document.getElementById('status').innerHTML = 'Please log ' + 'into Facebook.';
        //        }
        //    }
        //    // This function is called when someone finishes with the Login Button.
        //    function checkLoginState() {
        //        console.log('Check login state!!!!!!!!!!!!!!!!!!!!!!!');
        //        FB.getLoginStatus(function (response) {
        //            statusChangeCallback(response);
        //        });
        //        window.location.reload();
        //    }
        //    window.fbAsyncInit = function () {
        //        FB.init({
        //            appId: '768604839929508',
        //            cookie: true,
        //            xfbml: true,
        //            version: 'v2.2'
        //        });
        //        FB.getLoginStatus(function (response) {
        //            statusChangeCallback(response);
        //        });
        //    };
        //    // Load the SDK asynchronously
        //    (function (d, s, id) {
        //        var js, fjs = d.getElementsByTagName(s)[0];
        //        if (d.getElementById(id)) return;
        //        js = d.createElement(s);
        //        js.id = id;
        //        js.src = "//connect.facebook.net/en_US/sdk.js";
        //        fjs.parentNode.insertBefore(js, fjs);
        //    }(document, 'script', 'facebook-jssdk'));
        //    // Sets the user data to localStorage
        //    function setUserData() {
        //        toastr.info('Please, wait a moment till we process your data. You can try to refresh. Thank you! :)')
        //        FB.api('/me?fields=id,name,email', function (response) {
        //            localStorage.setItem('username', response.name);
        //            localStorage.setItem('isLoggedIn', true);
        //            localStorage.setItem('profilePicture', 'http://graph.facebook.com/' + response.id + '/picture?type=large');
        //            var url = window.location.href;
        //            var index = url.lastIndexOf('#');
        //            var newUrl = url.substring(0, index + 1) + '/home';
        //            if (window.location.href !== newUrl) {
        //                window.location.reload();
        //            }
        //            window.location = newUrl;
        //        });
        //    }
        //    var loginButton = document.getElementById('facebook-container');
        //    loginButton.onclick = function () {
        //        window.location.reload();
        //    };
        //    // Logout user
        //    var signOutButton = document.getElementById('signOut-button');
        //    signOutButton.onclick = function facebookLogout() {
        //        FB.getLoginStatus(function (response) {
        //            if (response.status === 'connected') {
        //                FB.logout(function (response) {
        //                    localStorage.clear();
        //                    window.location.reload();
        //                });
        //            }
        //        });
        //    }
