if !!currentUser
<<<<<<< HEAD
    script.
        window.bootstrappedUserObject = !{JSON.stringify(currentUser)}

.navbar-right
    form.navbar-form(method='POST', action='/login')
        .form-group
            input.form-control(type="text", placeholder="User")
            input.form-control(type="password", placeholder="Password")
        button.btn.btn-primary Login
        a(href="register").btn.btn-primary Register
=======
    script
        window.bootsterappedUserObject = !{JSON.stringify(currentUser)}
form.navbar-form
        .form-group
            input.form-control(type = "text", placeholder = "User")
            input.form-control(type = "password", placeholder = "Password")
        button.btn.btn-primary Login
>>>>>>> 76b179b1402c28b62daaf43ddfe5e38ec5d08ed9
