if !!currentUser
    script.
        window.bootstrappedUserObject = !{JSON.stringify(currentUser)}

.navbar-right
    form.navbar-form(method='POST', action='/login')
        .form-group
            input.form-control(type="text", placeholder="User")
            input.form-control(type="password", placeholder="Password")
        button.btn.btn-primary Login
        a(href="register").btn.btn-primary Register
