doctype
html
    head
        title StrongFit Forum
        link(rel="stylesheet" href="/common/styles/bootstrap.min.css")
        link(rel="stylesheet" href="/lib/toastr/toastr.min.css")
        link(rel="stylesheet" href="/css/site.css")
        link(rel="stylesheet" href="/common/styles/index.css")
        link(rel="stylesheet" href="/common/styles/forum.css")
    body
        header.nav.navbar-default.navbar-fixed-top
            .container
                .navbar-header
                    a.navbar-brand(href="/") StrongFit
                button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                .navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li
                            a(href="/") Начало
                        li
                            a(href="/forum") Форум
                        if (currentUser)
                            if (currentUser.isInRole('admin'))
                                li
                                    a(href="/admin/administration") Администрация
                     ul.nav.navbar-nav.navbar-right

                         if (currentUser)
                             li
                                 a(href="/profile") #{currentUser.firstName ? currentUser.firstName: 'User'}'s profile
                             li
                                 a(href='/logout') Изход
                         else
                             li
                                 a(href="/register") Регистрация
                             li
                                 a(href="/login") Вход
        .container#hideMe
            if (errorMessage)
                .alert.alert-danger
                    .glyphicon.glyphicon-exclamation-sign
                    |   #{errorMessage}
            if (successMessage)
                .alert.alert-success #{successMessage}

        block main-content

        footer.panel-footer.navbar-fixed-bottom
            p.text-center
                a(href="https://github.com/End-to-End-JS-Teamwork/Strong-Fit" id="copy-name") &copy; StrongFit
        include scripts

