doctype
html
    head
        title StrongFit Forum
        link(rel="stylesheet" href="/common/styles/bootstrap.min.css")
        link(rel="stylesheet" href="/lib/toastr/toastr.min.css")
        link(rel="stylesheet" href="/common/styles/index.css")
        link(rel="stylesheet" href="/css/site.css")
    body(ng-app="strongFitApp")
        block main-content


        include scripts
        include currentUser

