if !!currentUser
    script.
        window.bootstrappedUserObject = !{JSON.stringify(currentUser)}

// - local_data = JSON.stringify(User)
.container.center-block
    br
    .row
        #register-user-container.col-xs-12.col-sm-12.col-md-6.col-md-offset-3.well.well-lg

            legend
                // i.glyphicon.glyphicon-globe
                |  Register

            form.form(role='form', name='newUserForm' )
                .row
                    .col-xs-6.col-md-6
                        input#sign-up-firstname.form-control(name='firstname', placeholder='First Name', type='text', required='', autofocus='')
                    .col-xs-6.col-md-6
                        input#sign-up-lastname.form-control(name='lastname', placeholder='Last Name', type='text', required='', ng-model='lastname')
                input#sign-up-email.form-control(name='email', placeholder='E-mail', type='email', required='', ng-model='email')
                input#sign-up-username.form-control(name='username', placeholder='Username', type='text', required='', ng-model='username')
                input.form-control(name='password', placeholder='New Password', type='password', required='', ng-model='password')
                br
                button.btn.btn-lg.btn-primary.btn-block(type='button', ng-disabled='newUserForm.$pristine || newUserForm.$invalid', ng-click='signUp(firstname, lastname, username, password, email)')
                    | Sign up


//.login.well
//    h1  Welcome aboard!
//    hr
//    form(id='register-form', method='POST', action='/register' novalidate)
//        .form-group
//            label(for='display') Display Name
//            input(type='text', name='display', class='form-control',
//            id='display', placeholder='Enter display name')
//        .form-group
//            label(for='username') Username
//            input(type='text', name='username', class='form-control',
//            id='username', placeholder='Enter username')
//        .form-group
//            label(for='password') Password
//            input(type='password', name='password', class='form-control',
//            id='password', placeholder='Enter password')
//        .form-group
//            label(for='confirm-password') Confirm Password
//            input(type='password', name='confirm-password', class='form-control',
//            id='confirm-password', placeholder='Confirm password')
//        .form-group
//            label(for='email') Email
//            input(type='email', name='email', class='form-control',
//            id='email', placeholder='Enter email')
//        .form-group
//            label(for='confirm-email') Confirm Email
//            input(type='email', name='confirm-email', class='form-control',
//            id='confirm-email', placeholder='Confirm email')
//        .form-group
//            button.btn.btn-default Register
//            a(href="login") Or Login