extends ../../includes/layout
block main-content

    if !!currentUser
        script.
            window.bootstrappedUserObject = !{JSON.stringify(currentUser)}

    .container.center-block
        br
        .row
            #register-user-container.col-xs-12.col-sm-12.col-md-6.col-md-offset-3.well.well-lg

                legend
                    h1 Вход

                form.form(role='form', name='newUserForm', method='POST', action='/login' novalidate )
                    .row

                    br
                    input#username.form-control(name='username', placeholder='Потребителско име', type='text', required='')
                    br
                    input#password.form-control(name='password', placeholder='Парола', type='password', required='')
                    br
                    button.btn.btn-lg.btn-primary.btn-block(type="submit" value="Login")
                        | Вход