<!DOCTYPE html>
<html>
  <head>
    <title>StrongFit Forum</title>
    <link rel="stylesheet" href="/common/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/toastr/toastr.min.css">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/common/styles/index.css">
    <link rel="stylesheet" href="/common/styles/forum.css">
  </head>
  <body>
    <header class="nav navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header"><a href="/" class="navbar-brand">StrongFit</a></div>
        <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Начало</a></li>
            <li><a href="/forum">Форум</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/register">Регистрация</a></li>
            <li><a href="/login">Вход</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div id="hideMe" class="container">
    </div>
    <div class="container center-block"><br>
      <div class="row">
        <div id="register-user-container" class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 well well-lg">
          <legend></legend>
          <h3>no user</h3>
          <form role="form" name="newUserForm" method="POST" action="/profile" novalidate class="form">
            <div class="row">
              <div class="col-xs-6 col-md-6">
                <label for="firstname">First Name</label>
                <input id="firstname" name="firstName" placeholder="First Name" type="text" required="" autofocus="" class="form-control">
              </div>
              <div class="col-xs-6 col-md-6">
                <label for="lastname">Last Name</label>
                <input id="lastname" name="lastName" placeholder="Last Name" type="text" class="form-control">
              </div>
            </div><br>
            <label for="email">E-mail</label>
            <input id="email" name="email" placeholder="E-mail" type="email" class="form-control"><br>
            <!--label(for='username') Username-->
            <!--// input#username.form-control(name='username', placeholder='Username', type='text')-->
            <!--input(id="username" class="hidden" type="text" name="username" value=currentUser.username)-->
            <!--br-->
            <label for="url">Image URL</label>
            <input id="url" name="url" placeholder="Image URL" type="text" class="form-control"><br>
            <label for="password">Password</label>
            <input id="password" name="password" placeholder="Password" type="password" required="" class="form-control"><br>
            <label for="confirmPassword">Confirm Password</label>
            <input id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" type="password" required="" class="form-control"><br>
            <button type="submit" class="btn btn-lg btn-primary btn-block">Update</button>
            <!--br-->
            <!--input(type="submit" class="btn btn-lg btn-primary" value="Update")-->
            <!-- br-->
            <!-- input(id="username" class="hidden" type="text" name="username" value=currentUser.username)-->
            <!-- a#delete-btn.btn.btn-lg.btn-danger(href='/profile/delete/' + currentUser.username) DELETE USER-->
            <!--br-->
            
            
          </form>
        </div>
      </div>
    </div>
    <!--#profile-container.container(ng-controller='ProfileController', ng-cloak='')-->
    <!--    .row-->
    <!--        .col-md-8.col-md-offset-2.text-center-->
    <!---->
    <!--            h1 Test-->
    <!--            h2 {{ username }}-->
    <!--    .row-->
    <!--        .col-md-8.col-md-offset-2.text-center-->
    <!--            img#profile-img(src='{{ profilePicture }}')-->
    <!--    .row-->
    <!--        .col-md-8.col-md-offset-2-->
    <!--            .panel.panel-default-->
    <!--                .panel-heading-->
    <!--                    strong Add profile picture-->
    <!--                .panel-body-->
    <!--                    .input-group.image-preview-->
    <!--                        input.form-control.image-preview-filename(placeholder='', type='text', disabled='disabled')-->
    <!--                        .input-group-btn-->
    <!--                            button.btn.btn-default.image-preview-clear(type='button', style='display:none;')-->
    <!--                                span.glyphicon.glyphicon-remove-->
    <!--                                |  Clear-->
    <!--                            .btn.image-preview-input-->
    <!--                                span.glyphicon.glyphicon-folder-open-->
    <!--                                span.image-preview-input-title Browse-->
    <!--                               // input(type='file', accept='image/png, image/jpeg, image/gif', name='input-file-preview')-->
    <!--                            button.btn.btn-labeled.image-preview-input(type='button')-->
    <!--                                span.btn-label.upload-icon-->
    <!--                                    i.glyphicon.glyphicon-upload-->
    <!--                                span.image-preview-input-title Upload-->
    
    <footer class="panel-footer navbar-fixed-bottom">
      <p class="text-center"><a href="https://github.com/End-to-End-JS-Teamwork/Strong-Fit" id="copy-name">&copy; StrongFit</a></p>
    </footer>
    <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/lib/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="/lib/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/lib/angular-cookies/angular-cookies.min.js"></script>
  </body>
</html>