extends ../../includes/layout
block main-content

    if !!currentUser
        script.
            window.bootstrappedUserObject = !{JSON.stringify(currentUser)}

    .container.center-block
        br
        .row
            #register-user-container.col-xs-12.col-sm-12.col-md-6.col-md-offset-3.well.well-lg(style="margin-top: -35px;")

                legend
                    h1 Регистрация

                form.form(role='form', name='newUserForm', method='POST', action='/register' novalidate)
                    .row
                        .col-xs-6.col-md-6
                            label(for='firstname') Име
                            input#firstname.form-control(name='firstName', placeholder='', type='text', required='', autofocus='')
                        .col-xs-6.col-md-6
                            label(for='lastname') Фамилия
                            input#lastname.form-control(name='lastName', placeholder='', type='text', required='')
                    br
                    label(for='email') E-mail
                    input#email.form-control(name='email', placeholder='', type='email', required='')
                    br
                    label(for='username') Потребителско име
                    input#username.form-control(name='username', placeholder='', type='text', required='')
                    br
                    label(for='password') Парола
                    input#password.form-control(name='password', placeholder='', type='password', required='')
                    br
                    label(for='confirmPassword') Повтори парола
                    input#confirmPassword.form-control(name='confirmPassword', placeholder='', type='password', required='')
                    br
                    button.btn.btn-lg.btn-primary.btn-block(type='submit')
                        | Регистрирай


